# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next
/.next/
/out/

# env
.env
.env*.local

# payload
/media
src/payload-types.ts

# debug
npm-debug.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
